<a href="https://colab.research.google.com/github/Sedowlas/EDA/blob/main/Fire_cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Загрузка данных

https://drive.google.com/file/d/1_40Uw7_k2vJ6BzAVzWe3qkz4k5_dBiZl/view?usp=sharing

In [ ]:
!gdown --id 1_40Uw7_k2vJ6BzAVzWe3qkz4k5_dBiZl

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1_40Uw7_k2vJ6BzAVzWe3qkz4k5_dBiZl
To: /content/fire_cases_in_uk_last_3_years.csv
100% 107M/107M [00:00<00:00, 122MB/s]

#Предобработка

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/fire_cases_in_uk_last_3_years.csv')

In [ ]:
df.head()

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,...,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpHoursRoundUp,Notional Cost (£),NumCalls
0,000006-01012019,01 Jan 2019,2019,00:01:45,0,Special Service,Special Service,Lift Release,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,333.0,2.0
1,000019-01012019,01 Jan 2019,2019,00:04:33,0,Fire,Secondary Fire,NaN,Outdoor,Tree scrub,...,357.0,Edmonton,NaN,NaN,1.0,1.0,1.0,1.0,333.0,1.0
2,000020-01012019,01 Jan 2019,2019,00:04:39,0,False Alarm,False alarm - Good intent,NaN,Outdoor,Domestic garden (vegetation not equipment),...,318.0,Southgate,NaN,NaN,1.0,1.0,1.0,1.0,333.0,1.0
3,000021-01012019,01 Jan 2019,2019,00:04:44,0,False Alarm,AFA,NaN,Dwelling,Stately Home (part not open to public),...,210.0,Kensington,NaN,NaN,1.0,1.0,1.0,1.0,333.0,1.0
4,000024-01012019,01 Jan 2019,2019,00:05:00,0,Special Service,Special Service,Lift Release,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,...,329.0,Bethnal Green,NaN,NaN,1.0,1.0,1.0,1.0,333.0,1.0

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.columns = ['incidentnumber', 'dateofcall', 'calyear', 'timeofcall', 'hourofcall',
       'incidentgroup', 'stopcodedescription', 'specialservicetype',
       'propertycategory', 'propertytype', 'addressqualifier', 'postcode_full',
       'postcode_district', 'uprn', 'usrn', 'incgeo_boroughcode',
       'incgeo_boroughname', 'propercase', 'incgeo_wardcode',
       'incgeo_wardname', 'incgeo_wardnamenew', 'easting_m', 'northing_m',
       'easting_rounded', 'northing_rounded', 'latitude', 'longitude', 'frs',
       'incidentstationground', 'firstpumparriving_attendancetime',
       'firstpumparriving_deployedfromstation',
       'secondpumparriving_attendancetime',
       'secondpumparriving_deployedfromstation',
       'numstationswithpumpsattending', 'numpumpsattending', 'pumpcount',
       'pumphoursroundup', 'notional_cost', 'numcalls']

In [ ]:
df.isna().mean()

incidentnumber                            0.000000
dateofcall                                0.000000
calyear                                   0.000000
timeofcall                                0.000000
hourofcall                                0.000000
incidentgroup                             0.000000
stopcodedescription                       0.000000
specialservicetype                        0.660494
propertycategory                          0.000000
propertytype                              0.000000
addressqualifier                          0.000000
postcode_full                             0.545731
postcode_district                         0.000000
uprn                                      0.000000
usrn                                      0.000000
incgeo_boroughcode                        0.000000
incgeo_boroughname                        0.000000
propercase                                0.000000
incgeo_wardcode                           0.000003
incgeo_wardname                           0.000003
incgeo_wardnamenew                        0.000003
easting_m                                 0.545731
northing_m                                0.545731
easting_rounded                           0.000000
northing_rounded                          0.000000
latitude                                  0.545731
longitude                                 0.545731
frs                                       0.000000
incidentstationground                     0.000000
firstpumparriving_attendancetime          0.059580
firstpumparriving_deployedfromstation     0.059595
secondpumparriving_attendancetime         0.620047
secondpumparriving_deployedfromstation    0.620050
numstationswithpumpsattending             0.012706
numpumpsattending                         0.012706
pumpcount                                 0.006343
pumphoursroundup                          0.006659
notional_cost                             0.006659
numcalls                                  0.000012
dtype: float64

In [ ]:
len(df)

331570

#Анализ

In [ ]:
df.head()

In [ ]:
df.groupby(['stopcodedescription','incidentgroup','calyear'])['numcalls'].agg(['count','mean'])

По своднику выявили количество пожаров по годам, виды пожаров, количество ложных и не ложных вызовов.

In [ ]:
df.groupby('incgeo_boroughname')['numcalls'].agg(['count','mean'])

Видим что в районе BARKING AND DAGENHAM больше всего вызовов

In [ ]:
df.groupby(['incgeo_boroughname','calyear'],dropna=False)['numcalls'].mean().plot(figsize=(20,10))

In [ ]:
df.groupby(['incgeo_boroughname','stopcodedescription','incidentgroup','propertycategory','propertytype','calyear'],dropna=False)['numcalls'].agg(['count','mean'])

Больше всего пожаров в районе BARKING AND DAGENHAM  	
Первичных пожаров > в районе (3.2)  
Вторичных пожаров < в районе (1.8)  
Пожар из-за дымохода 1  
Ложный вызовы с добрыми намерениями (1.16)   
Ложный вызовы с недоброжелательными намерениями (1.14)  
Ложные вызовы AFA-криминал (1.15)

BARKING AND DAGENHAM, False Alarm - AFA, Dwelling, House - single occupancy - 256   
BARKING AND DAGENHAM, False Alarm - AFA, Non Residential, Warehouse - 67  
BARKING AND DAGENHAM, False Alarm - AFA, Other Residential, Retirement/Old Persons Home - 41  


---


BARKING AND DAGENHAM, False alarm - Good intent, Dwelling, House - single occupancy	- 284  
BARKING AND DAGENHAM, False alarm - Good intent, Non Residential, Single shop - 25  
BARKING AND DAGENHAM, False alarm - Good intent, Other Residential, Retirement/Old Persons Home - 5  
BARKING AND DAGENHAM, False alarm - Good intent, Outdoor, Domestic garden (vegetation not equipment) - 71  
BARKING AND DAGENHAM, False alarm - Good intent, Outdoor Structure, Small refuse/rubbish container - 35  
BARKING AND DAGENHAM, False alarm - Good intent, Road Vehicle, Car - 47  



---

BARKING AND DAGENHAM, False alarm - Malicious,	Dwelling, House - single occupancy - 25  
BARKING AND DAGENHAM, False alarm - Malicious, Non Residential, Infant/Primary school, Secondary school, Single shop - 3  
BARKING AND DAGENHAM, False alarm - Malicious, Outdoor, Loose refuse - 4  
BARKING AND DAGENHAM, False alarm - Malicious, Outdoor Structure, Telephone box - 2  
BARKING AND DAGENHAM, False alarm - Malicious, Road Vehicle, Motorcycle - 1

---  

BARKING AND DAGENHAM, Fire, Chimney Fire,	Dwelling,	House - single occupancy - 1  
BARKING AND DAGENHAM, Fire, Primary Fire,	Dwelling, House - single occupancy - 168  
BARKING AND DAGENHAM, Fire, Primary Fire,	Non Residential, Private Garden Shed - 21  
BARKING AND DAGENHAM, Fire, Primary Fire,	Other Residential, Hotel/motel - 4  
BARKING AND DAGENHAM, Fire, Primary Fire,	Outdoor, Other outdoor location - 1  
BARKING AND DAGENHAM, Fire, Primary Fire,	Outdoor Structure, Outdoor storage - 21  
BARKING AND DAGENHAM, Fire, Primary Fire,	Road Vehicle, Car - 96  

---

BARKING AND DAGENHAM, Fire, Secondary Fire,	Non Residential,	Pub/wine bar/bar - 1  
BARKING AND DAGENHAM, Fire, Secondary Fire,	Outdoor, Loose refuse - 103  
BARKING AND DAGENHAM, Fire, Secondary Fire,	Outdoor Structure, Small refuse/rubbish container - 140  
BARKING AND DAGENHAM, Fire, Secondary Fire,	Road Vehicle, Motorcycle - 1  

--- 

BARKING AND DAGENHAM, Special Service,	Flood call attended - Batch mobilised,	Dwelling,	House - single occupancy - 14  
BARKING AND DAGENHAM, Special Service,	Flood call attended - Batch mobilised,	Non Residential, Restaurant/cafe - 1  
BARKING AND DAGENHAM, Special Service,	Flood call attended - Batch mobilised,	Outdoor Structure,	Roadside furniture (eg lamp posts/ road signs/ telegraph poles/ speed cameras) - 1  
BARKING AND DAGENHAM, Special Service,	Boat, Other vessel - 1  
BARKING AND DAGENHAM, Special Service,	Dwelling, House - single occupancy - 575  
BARKING AND DAGENHAM, Special Service,	Non Residential, Fire station - 14  
BARKING AND DAGENHAM, Special Service, Other Residential, Retirement/Old Persons Home - 18  	
BARKING AND DAGENHAM, Special Service, Outdoor, Road surface/pavement - 82  	
BARKING AND DAGENHAM, Special Service, Outdoor Structure, Fence - 6  
BARKING AND DAGENHAM, Special Service, Rail Vehicle,	Passenger Train (national rail network) - 2  
BARKING AND DAGENHAM, Special Service, Road Vehicle, Car - 291

#Визуализация

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df['dateofcall'] = pd.to_datetime(df['dateofcall'])
df['timeofcall'] = pd.to_datetime(df['timeofcall'])

In [ ]:
time = df['dateofcall'].iloc[0]
df['Hour'] = df['timeofcall'].apply(lambda time:time.hour)
df['Month'] = df['dateofcall'].apply(lambda time:time.month)
df['Day of Week'] = df['dateofcall'].apply(lambda time:time.dayofweek)

In [ ]:
dmap={0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
df['Day of Week']= df['Day of Week'].map(dmap)

In [ ]:
sns.set(rc={'figure.figsize':(20,10)})
sns.countplot(x='calyear',data=df, hue='propertycategory',palette='rocket')

На графике видим что в 2021 году было больше всего происшествий, по жилим помещениям.   
В 2020 году большинство происшествий было на открытом воздухе.   
В 2019 году больше всего происшествий было в нежилих помещениях.  

Dwelling - Жилище  
Outdoor - На открытом воздухе  
Non Residential - Нежилое помещение  
Outdoor Structure	- Наружная конструкция  
Road Vehicle - Дорожное транспортное средство  
Other Residential - Другие жилые помещения  
Rail Vehicle - Рельсовое транспортное средство  
Aircraft - Воздушное судно  
Boat - Лодка

In [ ]:
df.head()

#Сводная таблица по экономике

In [ ]:
(df.groupby(['incgeo_boroughname','incidentgroup','calyear'],dropna=False)
[['numcalls','numpumpsattending','pumphoursroundup','notional_cost']]
 .agg({'numcalls':['count','mean'],
       'numpumpsattending':['mean'],
       'pumphoursroundup':['mean'],
       'notional_cost':['mean']}))

Район BARKING AND DAGENHAM  
Ложные вызовы:  
2019 - 391 (затраты)   
2020 - 416  
2021 - 417  
2022 - 423  

Пожары:   
2019 - 845  
2020 - 1815  
2021 - 790  
2022 - 1075  

Специальное обслуживание:  
2019 - 449  
2020 - 442  
2021 - 428  
2022 - 438